.ImageInfo{
    position: fixed;
    height: 100vh;
    width: 100%;
    

}


.detailsContainer{
    position: absolute;
    margin-left: 50% ;
    margin-bottom: 10%;
    transform: translate(-50%);
   
  
    backdrop-filter: blur(5px);
     
    background-color: rgba(247, 245, 245, 0.1);
    box-shadow: 0 0 10px 0px;
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column ;
    align-items: center;

     
    
}

.detailsContainer :nth-child(1){
    font-size: clamp(20px,2.5vw,40px);
    font-weight: 800;
    margin: 3%;
}
.detailsContainer :nth-child(2){
    font-size: clamp(18px,2vw,36px);
    font-weight: 500;
    margin: 1.5%;
    text-align: center;
}

.detailsContainer :nth-child(3){
    font-size: clamp(16px,2vw,30px);
    text-align: center;
    max-width: 60%;
    font-family: 'Space Grotesk', sans-serif;
    margin: 1.5%;
}
@media screen and (max-width: 768px) {
    /* .detailsContainer{
        margin: 0;
        left: 50%;
       
        min-width: 100%; 
        padding: 0;  
      
        
    }
    .detailsContainer :nth-child(3){
        overflow: scroll;
        max-width: 100%;
    }
    .detailsContainer :nth-child(2){
    font-size: clamp(25px,2vw,14px);
    font-weight: 500;
    margin: 1.5%;
  
    text-align: center;
} */

}