.mainContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}